<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">Was schenken?</h4>  
            <p class="largepad text-muted">Das größte Geschenk ist natürlich unsere Hochzeit gemeinsam mit Dir zu feiern. Wenn Du uns darüberhinaus beschenken möchtest,freuen wir uns sehr über einen monetären Beitrag zu unserer Hochzeitsreise—im Sinne der Nachhaltigkeit gerne ohne ausladende Verpackungen und Gedöns.</p>
            <h4 class="service-heading">Was anziehen?</h4>  
            <p class="Egal, hauptsache Ihr fühlt Euch wohl.</p>
        </div>
    </div>
</section>
