<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Unterkünfte</h2>
                <p class="largepad text-muted">Du suchst nach Tips für die Auswahl einer Unterkunft?<br>Hier ist eine Auflistung an Hotels in der Umgebung. Preise, Fotos und Ausstattung findest Du auf den Hotelwebsites.<br>Solltest Du über Airbnb nach Unterkünften suchen, sind das Nordend und Bornheim als Stadteile ideal gelegen.<br>Gib uns gerne Bescheid, wenn Du Hilfe bei der Buchung benötigst.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        Hotels in der Nähe der Location
                        <li><br></li>   
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Hotel Arena Villa am Wasserpark</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://villa-am-wasserpark.com">Website</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="plist"><a href="https://www.google.com/maps/dir/BERGstation+Café.Restaurant+im+Huthpark,+Propst-Goebels-Weg,+Frankfurt/Arena+Villa+am+Wasserpark,+Friedberger+Landstraße,+Frankfurt/@50.1407056,8.698684,15z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x47bd0ee2d786a245:0xeb2ca4cd4395c56e!2m2!1d8.716425!2d50.142672!1m5!1m1!1s0x47bd0edcb9bdccf1:0xeba04f9420ec6b86!2m2!1d8.6969667!2d50.1369146!3e2">Maps</a></span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>


                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Best Western Friedberger Warte</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.ibhotel-frankfurt.de">Website</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="plist"><a href="https://www.google.com/maps/dir/BERGstation+Caf%C3%A9.Restaurant+im+Huthpark,+Propst-Goebels-Weg,+Frankfurt/Best+Western+Premier+IB+Hotel+Friedberger+Warte,+Homburger+Landstra%C3%9Fe+4,+60389+Frankfurt+am+Main/@50.1437529,8.6989022,15z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x47bd0ee2d786a245:0xeb2ca4cd4395c56e!2m2!1d8.716425!2d50.142672!1m5!1m1!1s0x47bd0edc267b11bd:0x4945752d0d571543!2m2!1d8.6988889!2d50.1413889!3e2">Maps</a></span>
                            </li>
                            <li><br></li>
                        </ul>

                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Hotel Schmärrnche</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.hotel-schmaerrnche.de">Website</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span  class="plist"><a href="https://www.google.com/maps/dir/BERGstation+Café.Restaurant+im+Huthpark,+Propst-Goebels-Weg,+Frankfurt/Hotel+Schmärrnche,+Kleine+Spillingsgasse,+Frankfurt/@50.1369379,8.7059772,15z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x47bd0ee2d786a245:0xeb2ca4cd4395c56e!2m2!1d8.716425!2d50.142672!1m5!1m1!1s0x47bd0eee407ba16b:0xe2069251b99e6625!2m2!1d8.7120773!2d50.1309707!3e2">Maps</a></span>
                            </li>
                            <li><br></li>
                            </li>
                            class="text-muted plist"> Distanz zur Location: 1.5-2km | 25min Fußweg | 5min Taxi</span>
                            </li>
                        </ul>

                </ul>
            </div>

    
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        Hotels im Zentrum von Frankfurt (5-6km | 15min Taxi)
                        <li><br></li>
                            </li>
                            class="text-muted plist"> Distanz zur Location: 1.5-2km | 25min Fußweg | 5min Taxi</span>
                            </li>
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Moxy City Center</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.marriott.com/en-us/hotels/fraor-moxy-frankfurt-city-center/overview/">Website</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="plist"><a href="https://www.google.com/maps/dir/BERGstation+Café.Restaurant+im+Huthpark,+Propst-Goebels-Weg,+Frankfurt/Moxy+Frankfurt+City+Center,+Thurn-und-Taxis-Platz,+Frankfurt/@50.1292585,8.6816075,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x47bd0ee2d786a245:0xeb2ca4cd4395c56e!2m2!1d8.716425!2d50.142672!1m5!1m1!1s0x47bd0f672b966ee1:0x26c956d33c7d45c7!2m2!1d8.6803165!2d50.1161085!3e0">Maps</a></span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                   
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Motel One Frankfurt Römer</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.motel-one.com/de/hotels/frankfurt/hotel-frankfurt-roemer/">Website</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="plist"><a href="https://www.google.com/maps/dir/BERGstation+Café.Restaurant+im+Huthpark,+Propst-Goebels-Weg,+Frankfurt/Hotel+Motel+One+Frankfurt-Römer,+Berliner+Straße,+Frankfurt/@50.1261266,8.6799249,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x47bd0ee2d786a245:0xeb2ca4cd4395c56e!2m2!1d8.716425!2d50.142672!1m5!1m1!1s0x47bd0ea8e6eb9a09:0xdf5f40e1e48592d!2m2!1d8.678!2d50.1103365!3e0">Maps</a></span>
                            </li>
                            <li><br></li>
                        </ul>

                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Hotel Ruby Louise</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.ruby-hotels.com/hotels-destinations/frankfurt/ruby-louise">Website</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="plist"><a href="https://www.google.com/maps/dir/BERGstation+Café.Restaurant+im+Huthpark,+Propst-Goebels-Weg,+Frankfurt/Ruby+Louise+Hotel+%26+Bar,+Neue+Rothofstraße,+Frankfurt/@50.1281177,8.6774132,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x47bd0ee2d786a245:0xeb2ca4cd4395c56e!2m2!1d8.716425!2d50.142672!1m5!1m1!1s0x47bd0fb1cdc26d81:0x724238b302895915!2m2!1d8.6744371!2d50.113511!3e0">Maps</a></span>
                            </li>
                            <li><br></li>
                        </ul>
                </ul>
            </div>
        </div>
    </div>
</section>
