<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Unterkünfte</h2>
                <p class="largepad text-muted">Du suchst nach Tips für die Auswahl einer Unterkunft? Hier ist eine Auflistung an Hotels in der Umgebung. Preise, Fotos und Ausstattung findest Du auf den Hotelwebsites. Solltest Du über Airbnb nach Unterkünften suchen, sind das Nordend und Bornheim als Stadteile hervorragend gelegen. Gib uns gerne Bescheid, wenn Du Hilfe bei der Buchung benötigst.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        Hotels in der Nähe der Location
                        <li><br></li>   
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Description</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Adresse</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.airbnb.com">https://www.airbnb.com/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance du lieu de mariage</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>


                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Description</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Adresse</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.airbnb.com">https://www.airbnb.com/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance du lieu de mariage</span>
                            </li>
                            <li><br></li>
                        </ul>

                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Description</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Adresse</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.airbnb.com">https://www.airbnb.com/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance du lieu de mariage</span>
                            </li>
                            <li><br></li>
                        </ul>
                </ul>
            </div>

    
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        Hotels im Zentrum von Frankfurt
                        <li><br></li>
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Description</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Adresse</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.airbnb.com">https://www.airbnb.com/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance du lieu de mariage</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                   
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Description</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Adresse</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.airbnb.com">https://www.airbnb.com/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance du lieu de mariage</span>
                            </li>
                            <li><br></li>
                        </ul>

                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Description</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Adresse</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.airbnb.com">https://www.airbnb.com/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance du lieu de mariage</span>
                            </li>
                            <li><br></li>
                        </ul>
                </ul>
            </div>
        </div>
    </div>
</section>
