<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently asked questions</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">A note on gifts</h4>  
            <p class="largepad text-muted">Your presence at our wedding is the greatest gift of all. However, should you wish to honor us with a gift, a wishing well will be available at the reception for your contribution and best wishes.</p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">Dresscodes</h4>  
            <p class="largepad text-muted">Come as you are and put on your dancing shoes.</p>
        </div>
    </div>
</section>
