<!-- Venue Section -->
<section id="venue" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Venue</h2>
                <p class="largepad text-muted">The celebration will be held in a small restaurant in a public park in the northeast of Frankfurt.<br>We are looking forward to a lively summer party and epic dancing!</h3>
                <h4 class="section-subheading text-muted">Huthpark Frankfurt<br>Bergstation Cafe & Restaurant<br>Propst-Goebels-Weg 17<br>60389 Frankfurt am Main<br> </p>
            	
		<li><br></li>
		
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="plist"><a href="https://www.bergstation-frankfurt.de">www.bergstation-frankfurt.de</a></span>
                            </li>
                <li><br></li>
		
		
                <ul class="list-inline social-buttons">
		            <li class="list-inline-item">
			        <a href="https://www.instagram.com/bergstationfrankfurt/?hl=de">
			        <i class="fab fa-instagram"></i> 
				<a href="https://www.facebook.com/people/BERGstation-Caf%C3%A9Restaurant-im-Huthpark/100057485257947">
			        <i class="fab fa-facebook-square"></i>
				</a>	   
		            </li>
		</ul>
            
            </div>
        </div>
        <style>
        .google-maps {
            position: relative;
            padding-bottom: 75%; // This is the aspect ratio
            height: 0;
            overflow: hidden;
        }
        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
        </style>

        <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10227.948650368502!2d8.716425!3d50.142672!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeb2ca4cd4395c56e!2sBERGstation%20Caf%C3%A9.Restaurant%20im%20Huthpark!5e0!3m2!1sen!2sde!4v1645964235239!5m2!1sen!2sde" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>
